{% load staticfiles %}
{% load textblock %}
<!-- Start Blog Area -->
<section id="blog-area">
    <div class="container">
        <div class="row text-center inner">
            <div class="col-sm-6">
                <div class="blog-content shadow">
                    <div class="l-image-container">
                        <img src="{% static 'img/2-1.jpg' %}" alt="Image">
                    </div>
                    <h2>{% block_title 'blogtexto1' user textblocks %}</h2>
                    {% block_text 'blogtexto1' user textblocks %}

                </div>
            </div>
            <div class="col-sm-6">
                <div class="blog-content shadow">
                    <div class="l-image-container">
                        <img src="{% static 'img/2-2.jpg' %}" alt="Image">
                    </div>
                    <h2>{% block_title 'blogtexto2' user textblocks %}</h2>
                    {% block_text 'blogtexto2' user textblocks %}
                    <p id="blofr"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->