{% extends "index.html" %}
{% load staticfiles %}
{% load textblock %}

{% block title %} AI {% endblock title %}

{% block content %}

<div class="bloc l-bloc bgc-white" id="bloc-10">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="{% static 'img/ZOEAICover.png' %}" class="img-responsive shadow" />
            </div>
        </div>
    </div>
</div>

<!-- picture2 -->
<div class="bloc l-bloc bgc-white mt-200">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="mg-md text-center f-60 ">
                    ZOE AI
                </h3>
                <p class="text-center f-25">
                    Add as many or few smart devices as you want, choreograph them to work with <em> ZOE HUB & AI </em>
                    , and create a smarter home that automatically reacts as life happens.
                </p>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-sm-4">
                <img src="http://selfcoded.com/home/img/iPhoneServices@2x.png" class="img-responsive" />
                <p class="text-center f-25">
                    Interact with ZOE AI through the app, with its sophisticated UI is easy to learn and fast to use.
                </p>
            </div>
            <div class="col-sm-4">
                <img src="http://selfcoded.com/home/img/iPhoneToday@2x.png" class="img-responsive" />
                <p class="text-center f-25">
                    The today quick view widgets provide quick access to your favorite services and most relevant information for the moment.
                </p>
            </div>
            <div class="col-sm-4">
                <img src="http://selfcoded.com/home/img/iPhoneTrigger@2x.png" class="img-responsive" />
                <p class="text-center f-25">
                    ZOE AI will detect your location and trigger events based on it, for example: raise the room temperature when you leave the office after sunset.
                </p>
            </div>
        </div>
        <div class="row mt-100">
            <div class="col-sm-12">
                <p>
                    ZOE AI adds an AI layer to your different smart home devices, gathers data of wearables, smartphones, and IoT devices. This information is end-to-end encrypted and sent to our servers to be processed in real time understanding situations and the environment. <br><br>

                    The processed data is returned automatically adapted to the involved devices. In other words, ZOE AI knows what do you want at any moment. As long as ZOE AI lives within your home, it learns about your habits and your lifestyle. ZOE AI will help you reduce your energy bill and your carbon footprint understanding your energy needs at any moment.<br><br>

                    With your subscription you will have free access to new features and updates that we will release every 2 weeks.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- features -->
<div class="bloc l-bloc bgc-white mt-200">
    <div class="container">
        <div class="row pb-50">
            <div class="col-sm-12">
                <h3 class="mg-md text-center f-60">
                    Plays well with
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-cloud icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Weather
                </h3>
                <p class="text-center">
                    Schedule your day with the weather information when you truly need it, before leaving, before an outdoor event, etc.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-rss icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    News
                </h3>
                <p class="text-center">
                    Read all the main news or configure your favourite rss, make ZOE AI read it for you.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-map-marker icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Traffic
                </h3>
                <p class="text-center">
                    Get the relevant traffic information and updates your favourite route if there is another more efficient, shorter or faster, evade traffic jams.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-money icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Stocks
                </h3>
                <p class="text-center">
                    Get all the market information in real time. Configure alarms at certain values.
                </p>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-headphones icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Spotify
                </h3>
                <p class="text-center">
                    Listen to your favourite music at home and interact with ZOE AI to manage your music.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-shopping-cart icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Walmart
                </h3>
                <p class="text-center">
                    You will not need to care about your groceries list, ZOE AI will do it for you and will order your food.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-book icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Amazon
                </h3>
                <p class="text-center">
                    Track your delivery packages times, get updates to receive your order when you are at home.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-comments icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Skype
                </h3>
                <p class="text-center">
                    Talk with your friends & family from any place in your home.
                </p>
            </div>
        </div>
    </div>
</div>


<!-- Bloc Group -->
<div class='bloc-group mt-200'>


<!-- Footer - bloc-12 -->
<div class="bloc l-bloc bgc-white bloc-tile-3" id="bloc-12">
    <div class="container bloc-lg">
        <div class="row pb-50">
            <div class="col-sm-12">
                <h3 class="mg-md text-center f-60">
                    ZOE AI price
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel">
                        <div class="panel-heading custom">
                            <img src="{% static 'img/ZOE-Get-Started-AI.png' %}" class="img-responsive" style="background-color: #072733"/>
                            <h2 class="mg-clear text-center">
                                ZOE AI
                            </h2>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled list-sp-md">
                                <li>
                                    <h4 class="text-center mg-md">
                                        Proactive learning home assistant<br>&nbsp;
                                    </h4>
                                </li>
                                <li>
                                    <h4 class="text-center mg-md">
                                        Only $9.99/month *<br>&nbsp;
                                    </h4>
                                </li>
                                <li>
                                    <h4 class="text-center mg-md small">
                                    <em>
                                        * At least one ZOE HUB is required
                                    </em>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <a href="{% url 'buy' %}" class="btn btn-d btn-lg btn-sq btn-block">Buy</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer - bloc-12 END -->
<!-- Bloc Group END -->

<!-- https://d3abxbgmpfhmxi.cloudfront.net/assets/img/products/hub/products-hub.e9aba541.jpg -->

{% endblock content %}